USE [master]
GO
/****** Object:  Database [HomeTrackDB]    Script Date: 10/11/2025 5:36:24 PM ******/
CREATE DATABASE [HomeTrackDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HomeTrackDB', FILENAME = N'/var/opt/mssql/data/HomeTrackDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HomeTrackDB_log', FILENAME = N'/var/opt/mssql/data/HomeTrackDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HomeTrackDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HomeTrackDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 10/11/2025 5:36:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoices]    Script Date: 10/11/2025 5:36:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoices](
	[InvoiceId] [uniqueidentifier] NOT NULL,
	[InvoiceNumber] [nvarchar](50) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[PaymentTransactionId] [uniqueidentifier] NOT NULL,
	[SubtotalVnd] [bigint] NOT NULL,
	[TaxVnd] [bigint] NOT NULL,
	[TotalVnd] [bigint] NOT NULL,
	[IssuedAt] [datetimeoffset](7) NOT NULL,
	[CreatedAt] [datetimeoffset](7) NOT NULL,
	[InvoiceJsonSnapshot] [nvarchar](max) NULL,
	[PdfPath] [nvarchar](max) NULL,
 CONSTRAINT [PK_Invoices] PRIMARY KEY CLUSTERED 
(
	[InvoiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 10/11/2025 5:36:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderId] [uniqueidentifier] NOT NULL,
	[OrderCode] [bigint] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[SubscriptionId] [uniqueidentifier] NULL,
	[PlanPriceId] [uniqueidentifier] NOT NULL,
	[AmountVnd] [bigint] NOT NULL,
	[Status] [int] NOT NULL,
	[ReturnUrl] [nvarchar](500) NULL,
	[CancelUrl] [nvarchar](500) NULL,
	[CreatedAt] [datetimeoffset](7) NOT NULL,
	[PaidAt] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OTPEmail]    Script Date: 10/11/2025 5:36:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OTPEmail](
	[Id] [uniqueidentifier] NOT NULL,
	[Email] [nvarchar](max) NULL,
	[OtpKey] [nvarchar](max) NULL,
	[CreatedTime] [datetime2](7) NULL,
	[ExpireTime] [float] NULL,
	[EndTime] [datetime2](7) NULL,
 CONSTRAINT [PK_OTPEmail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentTransactions]    Script Date: 10/11/2025 5:36:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentTransactions](
	[PaymentTransactionId] [uniqueidentifier] NOT NULL,
	[OrderId] [uniqueidentifier] NOT NULL,
	[Provider] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[AmountVnd] [bigint] NOT NULL,
	[ProviderTransactionId] [nvarchar](200) NOT NULL,
	[Signature] [nvarchar](500) NULL,
	[RequestPayload] [nvarchar](max) NULL,
	[ResponsePayload] [nvarchar](max) NULL,
	[CreatedAt] [datetimeoffset](7) NOT NULL,
	[SucceededAt] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_PaymentTransactions] PRIMARY KEY CLUSTERED 
(
	[PaymentTransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlanPrices]    Script Date: 10/11/2025 5:36:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlanPrices](
	[PlanPriceId] [uniqueidentifier] NOT NULL,
	[PlanId] [uniqueidentifier] NOT NULL,
	[Period] [int] NOT NULL,
	[DurationInDays] [int] NOT NULL,
	[AmountVnd] [bigint] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreateAt] [datetimeoffset](7) NULL,
	[UpdateAt] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_PlanPrices] PRIMARY KEY CLUSTERED 
(
	[PlanPriceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Plans]    Script Date: 10/11/2025 5:36:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Plans](
	[PlanId] [uniqueidentifier] NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Plans] PRIMARY KEY CLUSTERED 
(
	[PlanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Refunds]    Script Date: 10/11/2025 5:36:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Refunds](
	[RefundId] [uniqueidentifier] NOT NULL,
	[PaymentTransactionId] [uniqueidentifier] NOT NULL,
	[AmountVnd] [bigint] NOT NULL,
	[Reason] [nvarchar](500) NOT NULL,
	[ProviderRefundId] [nvarchar](200) NOT NULL,
	[RefundedAt] [datetimeoffset](7) NOT NULL,
 CONSTRAINT [PK_Refunds] PRIMARY KEY CLUSTERED 
(
	[RefundId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 10/11/2025 5:36:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleId] [bigint] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subscriptions]    Script Date: 10/11/2025 5:36:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subscriptions](
	[SubscriptionId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[PlanId] [uniqueidentifier] NOT NULL,
	[Status] [int] NOT NULL,
	[CurrentPeriodStart] [datetimeoffset](7) NULL,
	[CurrentPeriodEnd] [datetimeoffset](7) NULL,
	[CancelAtPeriodEnd] [bit] NOT NULL,
	[CancelledAt] [datetimeoffset](7) NULL,
	[CreatedAt] [datetimeoffset](7) NOT NULL,
	[LatestOrderCode] [nvarchar](max) NULL,
 CONSTRAINT [PK_Subscriptions] PRIMARY KEY CLUSTERED 
(
	[SubscriptionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 10/11/2025 5:36:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserId] [uniqueidentifier] NOT NULL,
	[Username] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](450) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[RoleId] [bigint] NOT NULL,
	[PictureProfile] [nvarchar](max) NULL,
	[DateOfBirth] [datetime2](7) NULL,
	[Phone] [nvarchar](max) NULL,
	[Status] [bit] NULL,
	[IsPremium] [bit] NULL,
	[IsEmailVerified] [bit] NULL,
	[OtpGeneratedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WebhookLogs]    Script Date: 10/11/2025 5:36:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WebhookLogs](
	[WebhookLogId] [uniqueidentifier] NOT NULL,
	[EventType] [nvarchar](100) NOT NULL,
	[OrderCode] [nvarchar](450) NULL,
	[ProviderTransactionId] [nvarchar](200) NULL,
	[RawPayload] [nvarchar](max) NOT NULL,
	[Verified] [bit] NOT NULL,
	[VerificationError] [nvarchar](500) NULL,
	[ReceivedAt] [datetimeoffset](7) NOT NULL,
	[Payload] [nvarchar](max) NULL,
 CONSTRAINT [PK_WebhookLogs] PRIMARY KEY CLUSTERED 
(
	[WebhookLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250925090014_HomeTrackDB', N'9.0.9')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251005123119_fixdb', N'9.0.9')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251006170826_fixdb3', N'9.0.9')
GO
INSERT [dbo].[Orders] ([OrderId], [OrderCode], [UserId], [SubscriptionId], [PlanPriceId], [AmountVnd], [Status], [ReturnUrl], [CancelUrl], [CreatedAt], [PaidAt]) VALUES (N'bf7a01b6-2985-483d-ad44-7ac07a911f2f', 25279012, N'a7a41a5e-7cfc-41d6-8cc6-c6ef060b4d46', N'f14e8f6c-af85-4ed6-86bc-e4e98b4682d4', N'e278f5f6-0252-427e-b0f8-7ca41da5e05b', 5000, 1, N'https://hometrack.mlhr.org/swagger/index.html', N'https://hometrack.mlhr.org/swagger/index.html', CAST(N'2025-10-06T17:45:51.1969043+00:00' AS DateTimeOffset), CAST(N'2025-10-06T18:04:07.8665822+00:00' AS DateTimeOffset))
INSERT [dbo].[Orders] ([OrderId], [OrderCode], [UserId], [SubscriptionId], [PlanPriceId], [AmountVnd], [Status], [ReturnUrl], [CancelUrl], [CreatedAt], [PaidAt]) VALUES (N'7771f997-21ba-4e48-b2af-99766b38e314', 27790001, N'f0ca0757-1530-4daa-8a50-25b83749bf4b', N'6da47746-0563-462b-90b7-ff54545e3e65', N'46a8858b-a3be-45ec-ac2d-2747e4db7bb3', 99000, 1, N'https://hometrack.mlhr.org/swagger/index.html', N'https://hometrack.mlhr.org/swagger/index.html', CAST(N'2025-10-06T17:34:03.4725412+00:00' AS DateTimeOffset), CAST(N'2025-10-06T18:01:35.5466994+00:00' AS DateTimeOffset))
INSERT [dbo].[Orders] ([OrderId], [OrderCode], [UserId], [SubscriptionId], [PlanPriceId], [AmountVnd], [Status], [ReturnUrl], [CancelUrl], [CreatedAt], [PaidAt]) VALUES (N'e6f2f05a-8c59-4c7e-80db-9a0141d47f5a', 202510050106, N'f0ca0757-1530-4daa-8a50-25b83749bf4b', N'5f28c159-df7f-49a5-bfef-14c3d375e1f0', N'e278f5f6-0252-427e-b0f8-7ca41da5e05b', 99000, 1, N'https://hometrack.mlhr.org/api/Payment/paymentconfirm', N'https://hometrack.mlhr.org/api/Payment/payment-fail', CAST(N'2025-10-05T12:56:05.6978232+00:00' AS DateTimeOffset), CAST(N'2025-10-05T13:37:04.1277958+00:00' AS DateTimeOffset))
GO
INSERT [dbo].[OTPEmail] ([Id], [Email], [OtpKey], [CreatedTime], [ExpireTime], [EndTime]) VALUES (N'2571c889-5cfd-4640-b129-3e65639635cd', N'caokienquoc1582002@gmail.com', N'760997', CAST(N'2025-09-25T17:25:38.6882325' AS DateTime2), 2, CAST(N'2025-09-25T17:27:38.6882325' AS DateTime2))
INSERT [dbo].[OTPEmail] ([Id], [Email], [OtpKey], [CreatedTime], [ExpireTime], [EndTime]) VALUES (N'38570911-cd43-415b-af57-7055f5de09ff', N'caokienquoc257862@gmail.com', N'029785', CAST(N'2025-10-11T11:52:06.9110639' AS DateTime2), 2, CAST(N'2025-10-11T11:54:06.9110639' AS DateTime2))
GO
INSERT [dbo].[PaymentTransactions] ([PaymentTransactionId], [OrderId], [Provider], [Status], [AmountVnd], [ProviderTransactionId], [Signature], [RequestPayload], [ResponsePayload], [CreatedAt], [SucceededAt]) VALUES (N'66cc1038-101f-44a8-8ee7-d023e7a8581d', N'e6f2f05a-8c59-4c7e-80db-9a0141d47f5a', 1, 1, 99000, N'202510050106', NULL, NULL, N'{"code":"101","desc":"Mã thanh toán không tồn tại"}', CAST(N'2025-10-05T13:37:04.1277958+00:00' AS DateTimeOffset), CAST(N'2025-10-05T13:37:04.1277958+00:00' AS DateTimeOffset))
GO
INSERT [dbo].[PlanPrices] ([PlanPriceId], [PlanId], [Period], [DurationInDays], [AmountVnd], [IsActive], [CreateAt], [UpdateAt]) VALUES (N'46a8858b-a3be-45ec-ac2d-2747e4db7bb3', N'796b1aa5-cf57-4d4c-b629-af833cde56fb', 1, 30, 99000, 1, NULL, NULL)
INSERT [dbo].[PlanPrices] ([PlanPriceId], [PlanId], [Period], [DurationInDays], [AmountVnd], [IsActive], [CreateAt], [UpdateAt]) VALUES (N'e278f5f6-0252-427e-b0f8-7ca41da5e05b', N'96867116-7106-46dc-ad07-ff6696de117c', 1, 30, 99000, 1, NULL, NULL)
GO
INSERT [dbo].[Plans] ([PlanId], [Code], [Name], [Description], [IsActive], [IsDeleted]) VALUES (N'796b1aa5-cf57-4d4c-b629-af833cde56fb', N'BASIC', N'Basic Plan', NULL, 1, 1)
INSERT [dbo].[Plans] ([PlanId], [Code], [Name], [Description], [IsActive], [IsDeleted]) VALUES (N'96867116-7106-46dc-ad07-ff6696de117c', N'BASIC_6', N'Basic Plan 6', NULL, 1, 1)
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([RoleId], [RoleName]) VALUES (1, N'Admin')
INSERT [dbo].[Role] ([RoleId], [RoleName]) VALUES (2, N'Customer')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
INSERT [dbo].[Subscriptions] ([SubscriptionId], [UserId], [PlanId], [Status], [CurrentPeriodStart], [CurrentPeriodEnd], [CancelAtPeriodEnd], [CancelledAt], [CreatedAt], [LatestOrderCode]) VALUES (N'5f28c159-df7f-49a5-bfef-14c3d375e1f0', N'f0ca0757-1530-4daa-8a50-25b83749bf4b', N'96867116-7106-46dc-ad07-ff6696de117c', 1, CAST(N'2025-10-05T13:37:04.1277958+00:00' AS DateTimeOffset), CAST(N'2025-11-04T13:37:04.1277958+00:00' AS DateTimeOffset), 0, NULL, CAST(N'0001-01-01T00:00:00.0000000+00:00' AS DateTimeOffset), N'202510050106')
INSERT [dbo].[Subscriptions] ([SubscriptionId], [UserId], [PlanId], [Status], [CurrentPeriodStart], [CurrentPeriodEnd], [CancelAtPeriodEnd], [CancelledAt], [CreatedAt], [LatestOrderCode]) VALUES (N'f14e8f6c-af85-4ed6-86bc-e4e98b4682d4', N'a7a41a5e-7cfc-41d6-8cc6-c6ef060b4d46', N'96867116-7106-46dc-ad07-ff6696de117c', 1, CAST(N'2025-10-06T18:04:07.8665822+00:00' AS DateTimeOffset), CAST(N'2025-11-05T18:04:07.8665822+00:00' AS DateTimeOffset), 0, NULL, CAST(N'0001-01-01T00:00:00.0000000+00:00' AS DateTimeOffset), N'25279012')
INSERT [dbo].[Subscriptions] ([SubscriptionId], [UserId], [PlanId], [Status], [CurrentPeriodStart], [CurrentPeriodEnd], [CancelAtPeriodEnd], [CancelledAt], [CreatedAt], [LatestOrderCode]) VALUES (N'6da47746-0563-462b-90b7-ff54545e3e65', N'f0ca0757-1530-4daa-8a50-25b83749bf4b', N'796b1aa5-cf57-4d4c-b629-af833cde56fb', 1, CAST(N'2025-10-06T18:01:35.5466994+00:00' AS DateTimeOffset), CAST(N'2025-11-05T18:01:35.5466994+00:00' AS DateTimeOffset), 0, NULL, CAST(N'0001-01-01T00:00:00.0000000+00:00' AS DateTimeOffset), N'27790001')
GO
INSERT [dbo].[User] ([UserId], [Username], [Email], [Password], [RoleId], [PictureProfile], [DateOfBirth], [Phone], [Status], [IsPremium], [IsEmailVerified], [OtpGeneratedAt]) VALUES (N'f0ca0757-1530-4daa-8a50-25b83749bf4b', N'quoc.ck', N'quoc@example.com', N'Aa@123456', 2, N'https://example.com/avatars/quoc.png', CAST(N'1995-05-20T00:00:00.0000000' AS DateTime2), N'0901234567', 1, 0, 0, CAST(N'2025-09-25T09:20:31.1290000' AS DateTime2))
INSERT [dbo].[User] ([UserId], [Username], [Email], [Password], [RoleId], [PictureProfile], [DateOfBirth], [Phone], [Status], [IsPremium], [IsEmailVerified], [OtpGeneratedAt]) VALUES (N'b49b7c6c-6021-46b2-99c4-2a0d44f22f65', N'quocck1', N'caokienquoc257862@gmail.com', N'Aa@123456', 2, N'https://example.com/avatars/default.png', CAST(N'1995-05-20T00:00:00.0000000' AS DateTime2), N'0901234567', 1, 0, 1, CAST(N'2025-10-11T04:49:18.1100000' AS DateTime2))
INSERT [dbo].[User] ([UserId], [Username], [Email], [Password], [RoleId], [PictureProfile], [DateOfBirth], [Phone], [Status], [IsPremium], [IsEmailVerified], [OtpGeneratedAt]) VALUES (N'3b82fb14-f20a-4ce5-88b8-5d10e11b03c2', N'matix', N'matix@maildrop.cc', N'Aa@123456', 1, N'hdb', CAST(N'2025-10-09T14:23:57.9110000' AS DateTime2), N'02882659', 1, 1, 0, CAST(N'2025-10-09T14:23:57.9110000' AS DateTime2))
GO
INSERT [dbo].[WebhookLogs] ([WebhookLogId], [EventType], [OrderCode], [ProviderTransactionId], [RawPayload], [Verified], [VerificationError], [ReceivedAt], [Payload]) VALUES (N'20c2d72a-e987-4250-a0be-6564dc920c5f', N'returnUrl.confirm', N'202510050106', NULL, N'{"code":"101","desc":"Mã thanh toán không tồn tại"}', 0, NULL, CAST(N'2025-10-05T13:37:04.1277958+00:00' AS DateTimeOffset), N'{"code":"101","desc":"Mã thanh toán không tồn tại"}')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Invoices_InvoiceNumber]    Script Date: 10/11/2025 5:36:24 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Invoices_InvoiceNumber] ON [dbo].[Invoices]
(
	[InvoiceNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Invoices_PaymentTransactionId]    Script Date: 10/11/2025 5:36:24 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Invoices_PaymentTransactionId] ON [dbo].[Invoices]
(
	[PaymentTransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Invoices_UserId]    Script Date: 10/11/2025 5:36:24 PM ******/
CREATE NONCLUSTERED INDEX [IX_Invoices_UserId] ON [dbo].[Invoices]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_OrderCode]    Script Date: 10/11/2025 5:36:24 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Orders_OrderCode] ON [dbo].[Orders]
(
	[OrderCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_PlanPriceId]    Script Date: 10/11/2025 5:36:24 PM ******/
CREATE NONCLUSTERED INDEX [IX_Orders_PlanPriceId] ON [dbo].[Orders]
(
	[PlanPriceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_SubscriptionId]    Script Date: 10/11/2025 5:36:24 PM ******/
CREATE NONCLUSTERED INDEX [IX_Orders_SubscriptionId] ON [dbo].[Orders]
(
	[SubscriptionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_UserId_CreatedAt]    Script Date: 10/11/2025 5:36:24 PM ******/
CREATE NONCLUSTERED INDEX [IX_Orders_UserId_CreatedAt] ON [dbo].[Orders]
(
	[UserId] ASC,
	[CreatedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PaymentTransactions_OrderId]    Script Date: 10/11/2025 5:36:24 PM ******/
CREATE NONCLUSTERED INDEX [IX_PaymentTransactions_OrderId] ON [dbo].[PaymentTransactions]
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PaymentTransactions_ProviderTransactionId]    Script Date: 10/11/2025 5:36:24 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_PaymentTransactions_ProviderTransactionId] ON [dbo].[PaymentTransactions]
(
	[ProviderTransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PlanPrices_PlanId_Period_IsActive]    Script Date: 10/11/2025 5:36:24 PM ******/
CREATE NONCLUSTERED INDEX [IX_PlanPrices_PlanId_Period_IsActive] ON [dbo].[PlanPrices]
(
	[PlanId] ASC,
	[Period] ASC,
	[IsActive] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Plans_Code]    Script Date: 10/11/2025 5:36:24 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Plans_Code] ON [dbo].[Plans]
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Refunds_PaymentTransactionId]    Script Date: 10/11/2025 5:36:24 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Refunds_PaymentTransactionId] ON [dbo].[Refunds]
(
	[PaymentTransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Subscriptions_PlanId]    Script Date: 10/11/2025 5:36:24 PM ******/
CREATE NONCLUSTERED INDEX [IX_Subscriptions_PlanId] ON [dbo].[Subscriptions]
(
	[PlanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Subscriptions_UserId_Status_CurrentPeriodEnd]    Script Date: 10/11/2025 5:36:24 PM ******/
CREATE NONCLUSTERED INDEX [IX_Subscriptions_UserId_Status_CurrentPeriodEnd] ON [dbo].[Subscriptions]
(
	[UserId] ASC,
	[Status] ASC,
	[CurrentPeriodEnd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_User_Email]    Script Date: 10/11/2025 5:36:24 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_User_Email] ON [dbo].[User]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_User_RoleId]    Script Date: 10/11/2025 5:36:24 PM ******/
CREATE NONCLUSTERED INDEX [IX_User_RoleId] ON [dbo].[User]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_WebhookLogs_OrderCode]    Script Date: 10/11/2025 5:36:24 PM ******/
CREATE NONCLUSTERED INDEX [IX_WebhookLogs_OrderCode] ON [dbo].[WebhookLogs]
(
	[OrderCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_WebhookLogs_ProviderTransactionId]    Script Date: 10/11/2025 5:36:24 PM ******/
CREATE NONCLUSTERED INDEX [IX_WebhookLogs_ProviderTransactionId] ON [dbo].[WebhookLogs]
(
	[ProviderTransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT (newid()) FOR [InvoiceId]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (newid()) FOR [OrderId]
GO
ALTER TABLE [dbo].[OTPEmail] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[PaymentTransactions] ADD  DEFAULT (newid()) FOR [PaymentTransactionId]
GO
ALTER TABLE [dbo].[PlanPrices] ADD  DEFAULT (newid()) FOR [PlanPriceId]
GO
ALTER TABLE [dbo].[PlanPrices] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsActive]
GO
ALTER TABLE [dbo].[Plans] ADD  DEFAULT (newid()) FOR [PlanId]
GO
ALTER TABLE [dbo].[Plans] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsActive]
GO
ALTER TABLE [dbo].[Plans] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Refunds] ADD  DEFAULT (newid()) FOR [RefundId]
GO
ALTER TABLE [dbo].[Subscriptions] ADD  DEFAULT (newid()) FOR [SubscriptionId]
GO
ALTER TABLE [dbo].[Subscriptions] ADD  DEFAULT (CONVERT([bit],(0))) FOR [CancelAtPeriodEnd]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT (newid()) FOR [UserId]
GO
ALTER TABLE [dbo].[WebhookLogs] ADD  DEFAULT (newid()) FOR [WebhookLogId]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_Invoices_PaymentTransactions_PaymentTransactionId] FOREIGN KEY([PaymentTransactionId])
REFERENCES [dbo].[PaymentTransactions] ([PaymentTransactionId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_Invoices_PaymentTransactions_PaymentTransactionId]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_Invoices_User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_Invoices_User_UserId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_PlanPrices_PlanPriceId] FOREIGN KEY([PlanPriceId])
REFERENCES [dbo].[PlanPrices] ([PlanPriceId])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_PlanPrices_PlanPriceId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Subscriptions_SubscriptionId] FOREIGN KEY([SubscriptionId])
REFERENCES [dbo].[Subscriptions] ([SubscriptionId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Subscriptions_SubscriptionId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_User_UserId]
GO
ALTER TABLE [dbo].[PaymentTransactions]  WITH CHECK ADD  CONSTRAINT [FK_PaymentTransactions_Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([OrderId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PaymentTransactions] CHECK CONSTRAINT [FK_PaymentTransactions_Orders_OrderId]
GO
ALTER TABLE [dbo].[PlanPrices]  WITH CHECK ADD  CONSTRAINT [FK_PlanPrices_Plans_PlanId] FOREIGN KEY([PlanId])
REFERENCES [dbo].[Plans] ([PlanId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PlanPrices] CHECK CONSTRAINT [FK_PlanPrices_Plans_PlanId]
GO
ALTER TABLE [dbo].[Refunds]  WITH CHECK ADD  CONSTRAINT [FK_Refunds_PaymentTransactions_PaymentTransactionId] FOREIGN KEY([PaymentTransactionId])
REFERENCES [dbo].[PaymentTransactions] ([PaymentTransactionId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Refunds] CHECK CONSTRAINT [FK_Refunds_PaymentTransactions_PaymentTransactionId]
GO
ALTER TABLE [dbo].[Subscriptions]  WITH CHECK ADD  CONSTRAINT [FK_Subscriptions_Plans_PlanId] FOREIGN KEY([PlanId])
REFERENCES [dbo].[Plans] ([PlanId])
GO
ALTER TABLE [dbo].[Subscriptions] CHECK CONSTRAINT [FK_Subscriptions_Plans_PlanId]
GO
ALTER TABLE [dbo].[Subscriptions]  WITH CHECK ADD  CONSTRAINT [FK_Subscriptions_User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Subscriptions] CHECK CONSTRAINT [FK_Subscriptions_User_UserId]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([RoleId])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role_RoleId]
GO
USE [master]
GO
